<meta/>
<!DOCTYPE html>
<html>
  <head>  
    <title>PLACEIFY | About</title>
    <link rel="stylesheet" href="/getfile?filename=intro_style.css&directory=templates">  
</head>  
<body>
  <div id = "about_header">
  <a href="/"><img id = "logo" src="/getfile?filename=logo.png&directory=templates" width="100" height="100"></a> 
    <!--<h2 id = "titletext">P L A C E I F Y</h2>-->
  </div>
  <iframe width="50%" height="50%" src="https://www.youtube.com/embed/aDO9qD-Qa-E?si=jo50ItwWSelY7kV_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <div class = "footer">
    <img id = "sandbox" src="/getfile?filename=sandbox_logo_2_inv.png&directory=templates" height="45">
    <p>Copyright © 2025 Rohit Priyadarshi Sanatani, All Rights Reserved | Founded 2022</p>
  </div>
</body>
</html>
