<!--<meta http-equiv="Refresh" content="3; url='http://sanatani.mit.edu:5000'" />-->
<meta/>
<!DOCTYPE html>
<html>
  <head>  
    <title>PLACEIFY</title>
    <link rel="stylesheet" href="/getfile?filename=intro_style.css&directory=templates">  
</head>
<body>
  <div id = "content"> 
    <img id = "logo" src="/getfile?filename=logo.png&directory=templates" width="100" height="100">
    <p id = "titletext">P L A C E I F Y</p>
    <button class = "navbutton" type="button" onclick="userEntry()">Try It!</button>
    <a href="https://drive.google.com/drive/folders/1a9P7p8s5boCsTL-FquhVN3-2600JVeLG?usp=sharing"><button class = "navbutton" type="button">Demos</button></a>
    <div id = "userpack">
      <label for="user" id = "usertext">Access user: </label>
      <input type="text" id="user" name="user" size = "10">
      <br>
      <br>
      <img id = "arrow" src="/getfile?filename=arrow.png&directory=templates" width="35" height="35" onclick="senduser()">
    </div>

  </div>
  <div class = "footer">
    <img id = "sandbox" src="/getfile?filename=sandbox_logo_2_inv.png&directory=templates" height="45">
    <p>Copyright © 2025 Rohit Priyadarshi Sanatani, All Rights Reserved</p>
  </div>
  <script>
      function senduser(){
        var user = document.getElementById('user').value
        window.location.href = '/main?user='+user;
      }
      function userEntry(){
        document.getElementById('userpack').style.display = "block";
      }
  </script>
</body>
</html>